
{:source-paths ["source-code"]
 :builds {:server {:target :node-script
                   :output-to "resources/backend/core.js"
                   :main backend.core/start!}
          :client {:target :browser
                   :output-dir "resources/frontend/js"      
                   :modules {:core {:init-fn frontend.core/start!}}}}}
