
{:source-paths ["src"]
 :dependencies []
 :builds {:server {:target :node-script
                   :output-to "node-target/core.js"
                   :main server.core/start-server!}
          :client {:target :browser
                   :output-dir "resources/public/js"      
                   :modules {:core {:init-fn client.core/start-client!}}}}}
